name: CI Build

env:
  GITHUB_REF: "${{ github.ref }}"
  RELEASE_DIR: artifacts
  RELEASE_BIN: zget
  CI_BUILD_NUMBER: ${{ github.run_number }}

on:
  push:
    branches:
      - master
      - develop
    tags:
      - "v*" # Run when tag matches v*, i.e. v1.0, v20.15.10
  pull_request:
    branches: [ master ]

jobs:
  cross_build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [ aarch64-linux-musl, x86_64-linux-musl, x86_64-windows-gnu, x86_64-macos-none, aarch64-macos-none ]
        include:
          - target: x86_64-linux-musl
            abi: musl
            os: linux
            arch: x86_64
            processor: core2
          - target: x86_64-windows-gnu
            abi: gnu
            os: windows
            arch: x86_64
            processor: core2
          - target: x86_64-macos-none
            abi: none
            os: macos
            arch: x86_64
            processor: core2
          - target: aarch64-linux-musl
            abi: musl
            os: linux
            arch: aarch64
            processor: ""
          - target: aarch64-macos-none
            abi: none
            os: macos
            arch: aarch64
            processor: apple_m1


    steps:
      - uses: actions/checkout@v6
      - name: Query version number
        id: get_version
        shell: bash
        run: |
          echo "using version tag ${GITHUB_REF:11}"
          echo "version=${GITHUB_REF:11}" >> $GITHUB_OUTPUT
      - name: Install Zig
        uses: mlugg/setup-zig@v2
        with:
          version: master
      - name: Build
        run: |
          chmod +x ./linux_build_zig.sh
          ./linux_build_zig.sh ${{ matrix.abi }} ${{ matrix.os }} ${{ matrix.arch }} "${{ steps.get_version.outputs.VERSION }}" ${{ matrix.processor }}
      - name: Create artifact directory
        run: mkdir ${{ env.RELEASE_DIR }}
      - name: Packaging
        run: cp -v ./zig-out/*.gz ./${{ env.RELEASE_DIR }}/
      - uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.os }}_${{ matrix.abi }}_${{ matrix.arch }}
          path: ./${{ env.RELEASE_DIR }}

  generate-changelog:
    name: Generate changelog
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    outputs:
      release_body: ${{ steps.git-cliff.outputs.content }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Generate a changelog
        uses: orhun/git-cliff-action@main
        id: git-cliff
        with:
          config: cliff.toml
          args: --latest --strip header
        env:
          OUTPUT: CHANGES.md

  release:
    name: GitHub Release
    needs: [ cross_build, generate-changelog ]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - name: Query version number
        id: get_version
        shell: bash
        run: |
          echo "using version tag ${GITHUB_REF:11}"
          echo "version=${GITHUB_REF:11}" >> $GITHUB_OUTPUT

      - name: Download artefacts
        uses: actions/download-artifact@v7
        with:
          path: release

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.get_version.outputs.VERSION }}
          body: "${{ needs.generate-changelog.outputs.release_body }}"
          files: |
            ./release/**/*.tar.gz
